# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
/packages/*/node_modules

# testing
/coverage
/packages/*/coverage

# production
/build
/packages/*/build

# misc
.DS_Store
.idea/
.vscode/
package-lock.json
*.tgz
*.local
*.log*
*conf.yml
/packages/*/styleguide
/packages/*/uploads
/packages/*/store
/logs
